.Container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    
}

.Content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid red;

    @media(min-width: 1023px) {
        width: 80%;
        height: 80%;
    }
    

}

.contentBox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid blue;
}


@media(min-width: 1023px) {
    
    /* .Container{
        
    }
    
    .Content{
        
    
    } */
    
    .contentBox{
       width: 80%;
       height: 80%; 
       flex-direction: row;
       justify-content: space-between;
    }

}